@charset "utf-8";
/* CSS Document */


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px) {



}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1536px) {

 

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {

	
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

	

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px) {



	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

  .navbar-dark .navbar-toggler {
    
    color: rgba(220,164,78,.55);
    border-color: rgba(220,164,78,.1);
    padding: 10px;
  }

  .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    margin: 30px;
} 
  .nav_booking_bt{
    display: none;
  }

  .nav_calender_bt{
    display: none;
  }

  .carousel_main_head{
    font-size: 55px;
  }

  .nav-item{
    padding: 2px;}
  
  .about_top {
    padding: 36px;
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  
  .cntct_sec{
    display: none;
  }

  /* .about_top_tx{
    width: 300px;
  } */

  .about_logo{
    display: none;
  }

  .about_bottom_tx {
    position: relative;
    left: -94px;
    top: -8px;
    padding: 0;
  }

  .price_bg_1, .price_bg2{
    opacity: 0.1;
  }

  .booking_num {
    position: absolute;
    transform: rotate(270deg);
    margin-top: 131px;
    text-align: center;
    left: -44px;
}

  /* about us */

  .team3 {
    background-image: url(../img/about_us/team3.jpg);
    width: 100%;
    height: 300px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

  .team2 {
    background-image: url(../img/about_us/team2.jpg);
    width: 100%;
    height: 300px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

  .team4 {
    background-image: url(../img/about_us/team4.jpg);
    width: 100%;
    height: 300px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

  .offer_tx h1{
    font-size: 1.5rem;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px) {

  .main_carousel{
    display: none;
  }

  .mbl_carousel{
    display: block !important;
    background-size: cover;
  }
  
  .about_bottom_sec{
    display: none;
  }

  .about_top_tx_mbl{
    display: block;
  }  

  .about_img{
    display: none;
  }

  .price_left{
    padding: 0;
  }

  .price_right{
    padding: 0 0 20px 0;
  }
  
  .work_nature {
    position: relative;
    border-bottom: 1px #767676 dashed;
    height: 43px;
    }

  .feedback_img{
    display: none;
  }

  .feedback{
    padding: 140px 40px;
  }

  .booking_num{
    margin-top: 188px;
    left: -73px;
  }

  .jarallax{
    height: 680px;
  }

  .footer_sec{
    border: none;
  }

  .footer_logo{
    display: none;
  }

  .footer_contact{
    margin-left: 0 !important;
  }

  .footer{
    text-align: center;
  }

  /* about us */

  .story_img{
    height: 400px;
  }

  .offer{
    display: none;
    }
  
    .our_team{
      margin-top: 80px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .mbl_carousel_logo{
    display: block !important;
  }

  .navbar-brand{
    display: none;
  }

  .carousel-tx{
    display: none;
  }

  .mbl_logo{
    display: block !important;
    width: 200px;
    margin-left: -20px;
    margin-top: 0px;
  }

  .carousel_sub_head{
    font-size: 22px;
  }

  .carousel_main_head{
    font-size: 35px;
  }

  .about_top{
    padding-bottom: 0;
  }

  .service_heading{
    text-align: center;
  }

  .service {
    position: relative;
    width: 100%;
    height: 313px;
    overflow: hidden;
    border: 1px solid white;
  } 
  
  .booking_num{
    display: none;
  }     
 
  .store_row .row {
    --bs-gutter-x: -10.5rem;
    --bs-gutter-y: 0;
  }
  
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 375px) {

  .mbl_carousel_tx{
    bottom: 50px; 
    left: 5px !important;
  }

  .store_row .row {
    --bs-gutter-x: -2.5rem;
    --bs-gutter-y: 0;
  }
	
}

  .team_sec{
  margin-top: 200px;
  }


/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {

  .mbl_carousel_logo{
    position: absolute;
    margin: 29px 7px !important;
  }

  .product {
    text-align: center;
    width: 240px;
    border: 1px solid #DCA44E;
}
  .about_top {
    padding: 37px;
  }

  .team_text {
    position: absolute;
    bottom: 20px;
    text-align: center;
    z-index: 2;
    left: 19%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

}


@media only screen and (max-width : 320px) {

  .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .crsl_tx_left {
    padding-left: 25px;
  }

  .about_top {
    padding: 22px;
  }   
  .store_row .row {
    --bs-gutter-x: -2.5rem;
    --bs-gutter-y: 0;
  } 

  .product {
    text-align: center;
    width: 230px;
    border: 1px solid #DCA44E;  
  }

  .team_text {
    position: absolute;
    bottom: 20px;
    text-align: center;
    z-index: 2;
    left: 12%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

}